@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* se importa la fuente de google */
body {
    font-family: 'Exo 2', sans-serif; /* se aplica la fuente */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main  {
    margin-left: 3rem;
}