---
import BaseLayout from '../layouts/BaseLayout.astro';
const identity = {
  name: "Federico",
  country: "Argentina",
  occupation: "estudiante de filosofía"
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout title="Sobre mí"> <!-- asi se reemplaza el titulo en head -->
    <h1>¿Quién soy?</h1>        
    <p>Me llamo {identity.name}.</p>
    <p>Soy de {identity.country} y soy {identity.occupation}.</p>
    <p>De momento estoy trabajando en perfeccionar mis habilidades en:</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
</BaseLayout>