---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Entradas">
    <body>
        <h1>Entradas
        <h1>Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    </body>    
</BaseLayout>
