---
export interface Props {
  title: string;
  description: string;
  pubDate?: Date | string;
}

const { title, description } = Astro.props;
---

<header class="post-header">
  <h1 class="post-title">{title}</h1>
  <p class="post-info">{description}</p>
</header>