---
import '../styles/global.css'; /* asi se importan los archivos css LOCALES */
import { ClientRouter } from 'astro:transitions'; 
---

<html lang="en">
	<head> <!-- info no visible de la web -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/hicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi blog</title>
		<ClientRouter />
	</head>
	<body> <!-- contenido visible de la web -->
		<header> <!-- cabecera de la web (suele compartirse entre las paginas) -->
			<img src="/hicon.svg" alt="phi letter"> <!-- logo de la web -->
			<nav> <!-- barra de navegacion -->
				<a href="/">Inicio</a>
				<a href="/blog/">Entradas</a>
				<a href="/about/">Sobre mí</a>				
			</nav>
		</header>	
		<div class="content-sheet">
			<main> <!-- contenido principal de la web -->
				<slot /> <!-- etiqueta necesaria para modificaciones en el layout -->
			</main>
		</div>
		<script>
			// Scripts que quieras que se ejecuten en cada carga de página "suave"
			// deben estar aquí o ser manejados de forma que se re-inicien.
			// Por ejemplo, usando el evento `astro:after-swap`
			document.addEventListener('astro:after-swap', () => {
			  console.log("Página cambiada con View Transitions!");
			  // Aquí puedes reinicializar scripts de terceros o lógica específica
			});
		  </script>
	</body>
</html>