---
import '../styles/global.css'; /* asi se importan los archivos css LOCALES */
import { ClientRouter } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head> <!-- info no visible de la web -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/phicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Reflexiones de sillón</title>
		<ClientRouter />
	</head>
	<body> <!-- contenido visible de la web -->
		<header> <!-- cabecera de la web (suele compartirse entre las paginas) -->
			<img src="/svg/phicon.svg" alt="Phi"> <!-- logo de la web -->
			<Navigation />
		</header>	
		<div class="content-sheet">
			<main> <!-- contenido principal de la web -->
				<slot /> <!-- etiqueta necesaria para modificaciones en el layout -->
			</main>
		</div>
		<Footer />
		<script>
			// Scripts que quieras que se ejecuten en cada carga de página "suave"
			// deben estar aquí o ser manejados de forma que se re-inicien.
			// Por ejemplo, usando el evento `astro:after-swap`
			document.addEventListener('astro:after-swap', () => {
			  console.log("Página cambiada con View Transitions!");
			  // Aquí puedes reinicializar scripts de terceros o lógica específica
			});
		  </script>
	</body>
</html>