---
import '../styles/global.css'; /* asi se importan los archivos css LOCALES */
---

<html lang="en">
	<head> <!-- info no visible de la web -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/hicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi blog</title>
	</head>
	<body> <!-- contenido visible de la web -->
		<header>
			<nav>
				<a href="/">Inicio</a>
				<a href="/blog/">Blog</a>
				<a href="/about/">Sobre mi</a>				
			</nav>
		</header>
		<main>
			<slot /> <!-- etiqueta necesaria para modificaciones en el layout -->
		</main>
	</body>
</html>